use pandas to take the table down

In [2]:
import pandas as pd
import csv
for i in range(1,2):
    url='https://en.wanweibaike.com/wiki-List%20of%20postal%20codes%20of%20Canada:%20M'
    tb=pd.read_html(url)[0]
    tb.to_csv(r'a.csv', mode='a', encoding='utf_8_sig', header=1, index=0)
    print('第'+str(i)+'页抓取完成')

第1页抓取完成

use pandas to show the table

In [3]:
df=pd.read_csv(r'a.csv')
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [7]:
for line in df:
    if df['Neighbourhood']=="Not assigned":
    df['Neighbourhood']=df['Borough']

IndentationError: expected an indented block (<ipython-input-7-cad8b98d7523>, line 3)

In [4]:

df_co=pd.read_csv(r'Geospatial_Coordinates.csv')
df_co.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
import csv

def csv2list(filepath):
    with open(filepath) as fo:
        csv_obj=csv.reader(fo)
        return[g for g in csv_obj]

def write_csv(lists, path):
    with open(path, 'w', newline='') as rs:
        writer=csv.writer(rs)
        writer.writerows(lists)
        
def main():
    li_two=csv2list(r'Geospatial_Coordinates.csv')
    li_one=csv2list(r'a.csv')
    
    for g in li_two[1:]:
        for i in li_one:
            if g[1] in i[1]:
                i.append(g[2])
                continue
                
    li_one[0].append('Latitude')
    write_csv(li_one, 'result.csv')

In [11]:
import pandas as pd

df_new=pd.read_csv(r'a.csv')
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront